h1 PiTank
b.lbl1 Press B to active suspended users 
c.lbl2 Press C to take photo 
d.lbl3 Press E to make Video 

e.lbl4 Temperature : 
f.lbl5 Humidity : 

div.wrapper
  iframe(src='http://192.168.42.14:8090/?action=stream')
  a.up() w
  a.left() a
  a.down() s
  a.right() d

